.row{
    width: 100%;
}

.title{
	text-align: left;
	color: black;
}


@media (min-width: 768px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
    .col-md-12{
        float: left;
    }
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.33%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-9{
        width: 74.99%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-11{
        width: 91.66%;
    }
    .col-md-12{
        width: 100%;
    }
}

@media (min-width: 576px) (max-width: 767px){
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
    .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
    .col-sm-12{
        float: left;
    }
    .col-sm-1{
        width: 8.33%;
    }
    .col-sm-2{
        width: 16.66%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33%;
    }
    .col-sm-5{
        width: 41.66%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.33%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-9{
        width: 74.99%;
    }
    .col-sm-10{
        width: 83.33%;
    }
    .col-sm-11{
        width: 91.66%;
    }
    .col-sm-12{
        width: 100%;
    }
}

@media (max-width: 575px){
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
    .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
    .col-xs-12{
        float: left;
    }
    .col-xs-1{
        width: 8.33%;
    }
    .col-xs-2{
        width: 16.66%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-4{
        width: 33%;
    }
    .col-xs-5{
        width: 41.66%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-7{
        width: 58.33%;
    }
    .col-xs-8{
        width: 66.66%;
    }
    .col-xs-9{
        width: 74.99%;
    }
    .col-xs-10{
        width: 83.33%;
    }
    .col-xs-11{
        width: 91.66%;
    }
    .col-xs-12{
        width: 100%;
    }
}


body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family:'Oxygen', sans-serif;

}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1{
    font-family: 'Oxygen', sans-serif;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px, 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    line-height: .75;
}

.navbar-brand a{
    text-decoration: none;
}

.list{
    text-align: center;
    color: black;
    border-bottom: 1px solid white;
    margin-left: -15px;
    margin-right: -15px;
}

h2{
    font-weight: bold;
}

#centralize{
    text-align: center;
    font-weight: bold;
    width: 100%;
    position: absolute;
    font-size: 20px;
}

.back{
    background-color: black;
    border: 1px solid yellow;
    height: 1000px;
    background-color: black;
    font-size: 18px;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

#texting {
    position: absolute;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;

}

.back2{
    background-color: black;
    border: 1px solid yellow;
    height: 1000px;
    background-color: black;
    font-size: 18px;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}